/* #Text Page
================================================== */
.text-page {
  padding: 7.8vw 0 5.2vw 0;
}

.text-page .container {
  max-width: 73%;
}

@media (max-width: 1023.98px) {
  .text-page {
    padding: 15.3vw 0 9.3vw 0;
  }
  
  .text-page .container {
    max-width: 88%;
  }
}